.logo{
    height: 60px;
    width: 80px;
    margin: -5px 0px -10px -40px;
}
.text{
    font-size: 12px;
    margin-top: -5px
}

@media only screen and (max-width: 600px) {
    .logo{
     visibility: hidden;
    }
  }